/**
* Global CSS document for all components referencing class names
*/

/* BASE */

* {
  margin: 0;
  font-family: "Playfair Display", serif;
  color: white;
}

body {
  /*overflow: hidden;*/
  background-color: #E6CCB2
  /* Hide scrollbars */
}

textarea {
  resize: none;
  outline: none;
}

/* NAVBAR */

.navbar-title {
  font-size: x-large;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 99%;
  margin: 0 auto;
  border-bottom: 5px solid rgb(173, 150, 107);
  background-color: rgb(20, 20, 20);
  z-index: 999;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-right: 50px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* HOME */

.home-title {
  font-size: 70px;
  text-align: center;
  position: relative;
  top: 300px;
  text-shadow: 2px 2px 10px black;
  position: absolute;
  z-index: 999;
}

.home-subtitle {
  font-size: 50px;
  position: relative;
  text-align: center;
  top: 600px;
  text-shadow: 2px 2px 10px black;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  z-index: 999;
}

/* UPLOAD */

.upload {
  text-align: center;
  position: relative;
  top: 250px;
}

.upload h1 {
  font-size: 60px;
  text-shadow: 2px 2px 10px black;
}

.upload label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: #00d46a;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.upload>label:hover {
  transform: scale(1.02);
}

input:hover+label {
  transform: scale(1.02);
}

.content {
  margin: 0;
  max-width: 100%;
}

.error {
  justify-content: center;
}

.pdf {
  width: 100px;
  height: 100px;
}

.view-btns {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-left: 30%;
  margin-right: 30%;
}

form {
  display: block;
  margin-left: auto; 
  margin-right: auto;
}
